<div class="full-bg login"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-6">
            <img src="../assets/img/logo.svg" alt="" class="logo">
            <div class="box box-orange">
                <h2>Login to your account</h2>
                <div class="form">
                    <input type="text" placeholder="email" ng-model="login.email">
                    <input type="password" placeholder="password" ng-model="login.password">
                    <p class="btn btn-o login-btn" ng-click="logindo()">log in</p>
                </div>
            </div>

            <div class="text-center">
                <p>don't have an account yet?</p>
                <a href="/register" class="btn btn-b">create an account!</a>
            </div>
        </div>
    </div>
</div>
