<div class="full-bg login"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-6">
            <img src="../assets/img/logo.svg" alt="" class="logo">
            <div class="box box-sea">
                <h2>Create an account</h2>
                <p>Here you can create your account to noteSth</p>
                <div class="form">
                    <input type="text" placeholder="email" ng-model="login.email">
                    <input type="password" placeholder="password" ng-model="login.password">
                    <p class="btn btn-b login-btn" ng-click="registerdo()">create my account</p>
                </div>
            </div>

            <div class="text-center">
                <p>Already have an account?</p>
                <a href="/login" class="btn btn-o">log in!</a>
            </div>
        </div>
    </div>
</div>
